* {
    margin: 0;
    padding: 0;
}

/* Navbar section */
nav {
    /* background: rgba(73, 73, 73, 0.407); */
    display: flex;
    /* justify-content: space-between; */
    background: #00000029;
    position: fixed;
    width: 100em;

}

nav::before {
    /* position: sticky; */
    content: " ";
    position: absolute;
    height: 18%;
    border-radius: 8px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    /* opacity: 1; */
}

nav ul {
    display: flex;
    align-items: center;
    margin: 1rem;
    /* margin-right: 16.4vw; */

}

/* item  */
nav ul li a {
    margin: 12px;
    text-decoration: none;
    color: rgb(28, 27, 27);
    /* font-size: 12em; */
    padding: 8px;
    /* border: 2px solid red; */
    border-radius: 12px;

}

nav ul li a:hover {
    color: rgb(147, 9, 9);
    background: rgb(101, 101, 101);

}

li {
    list-style-type: none;
    font-size: 122%;
}

div img {
    height: 4rem;
}

/* home section */
#home {
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#home ::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../imz/pexels-karolina-grabowska-4386466.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.item {
    border: 2px solid red;
    background: rgb(243, 240, 240);
    margin: .7%;
    width: 22rem;
    height: 14rem;
    padding: 2rem;
    border-radius: 23px;
    text-overflow: clip;

}

.item img {
    height: 80%;
    width: 80%;
    border-radius: 13px;
}

button {
    height: 2.1rem;
    border-radius: 12px;
    font-size: 110%;
    color: rgb(199, 10, 10);
    background: #ffffff00;
    margin-top: 2%;
    /* padding: 1rem; */
    text-align: center;
    width: 8rem;
}

button:hover {

    cursor: pointer;
    color: aqua;
    background: rgba(182, 178, 178, 0.599);

}

.h-primary {
    padding-top: 12%;
}

.hsecondary {
    font-size: 300%;
    margin-bottom: 28px;
    margin-top: -5px;
}

.mp1 {
    padding: 1.5% 0%;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;

}

.services {
    display: flex;

}

.hr1 {
    margin-top: 21em;
}

/* client section */
#client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../imz/popoijhh.jpg") no-repeat center center/cover;
    opacity: 0.9;
    color: #4c20d1;
    z-index: -1;
}

.our-client {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
}

.clint-name img {
    height: 51%;
    width: 42%;
    border-radius: 61px;
    margin: 1px;
    padding: 38px;
}
/* Contect section */
.center{
    text-align: center;
}
.cntc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;
   padding:  63px;
}
#contactus{
    position: relative;
    /* margin-top: .5%; */
}
#contactus::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../imz/contactus.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.8;
}
input{
    width: 100%;
    height: 100%;
    border: none;
    outline: no;
    border-bottom: 1px solid rgb(205, 197, 197);
    background: transparent;
    columns: rgb(154, 16, 16);
}
textarea{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid rgb(205, 197, 197);
    background: none;
    columns: rgb(198, 195, 195);
}
.new{
    font-weight: bold;
    font-size: 300%;
}
/* fotter section */
footer{
    display: flex;
    height: 20%;
    background: #000;
    position: relative;
}
/* footer ::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../imz/contactus.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.8;
} */
.item-1{
    /* border: 2px solid red; */
    margin: 4%;
    color: white;
  text-decoration: none;
  list-style-type: none;
  
}
.item-2{
    /* border: 2px solid red;margin: 4%; */
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 4%;
}
.item-3{
    /* border: 2px solid red;margin: 4%; */
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 4%;
}
.item-4{
    /* border: 2px solid red;margin: 4%; */
    color: white;
    text-decoration: none;
    list-style-type: none;
    /* width: 2%;
    height: 2%; */
    margin: 4%;
}
.item-1 a{

  text-decoration: none;
  list-style-type: none;
  color: azure;
  /* margin: 5%; */
}
.item-2 a{
   
    text-decoration: none;
    list-style-type: none;
    color: azure;
    /* margin: 5%; */
}
.item-3 a{
   
    text-decoration: none;
    list-style-type: none;
    color: azure;
    /* margin: 5%; */
}
.item-4 ul a{
   
    text-decoration: none;
    list-style-type: none;
    color: azure;
   /* padding: 2%; */
}
.oi3
{
    margin-right: 53%;
    margin-top: 6%;


}